.form-input, .form-checkbox, button {
    &:focus {
        outline: none !important;
        box-shadow: 0 0 5px theme('colors.purple.600') !important;
    }
    &:disabled {
        opacity: 0.5;
    }
}