.form-input, .form-checkbox, button {
    &:focus {
        outline: none !important;
        box-shadow: 0 0 5px theme('colors.lightblue.100') !important;
    }
    &:disabled {
        opacity: 0.5;
    }
}

.dark .form-input {
    background-color: #203b5a;
    border-color: #384b6a;
}